@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: 'Philosopher', serif;
    color: #674935;
    background-color: #f9f9ec;
    background-image: url(../images/bg.png);
    min-height: 100vh;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
.item {
    margin: auto;
}

/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
}

/* 見出し */
.page-title {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: normal;
}
.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

/* iframe */
iframe {
    width: 100%;
}

/* HEADER
------------------------------- */
.page-header {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 210px;
    margin-top: 14px;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #674935;
}
.main-nav a:hover {
    color: #aacf53;
}

/* animation
------------------------------- */
.slide{
    animation: slideIn 1s cubic-bezier(0.2, 1, 0.5, 1) 1 forwards;
}
@keyframes slideIn {
    0% {
        transform: translateY(25px);
        opacity: 0
    }
    100% {
        opacity: 1
    }
    40%,100% {
        opacity: 1;
    }
}

.fade {
  animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
 
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* HOME
------------------------------- */
#home .page-title {
    text-transform: none;
}
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

/* ABOUT
------------------------------- */
#about .page-title {
    text-transform: none;
}
.about-content {
    text-align: center;
    margin-top: 10vh;
}
.about-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}
dl{
    text-align: left;
}
dt {
    font-size: 1.375rem;
    margin: 20px 0 10px;
}
dd { 
    margin-left: 20px;
}
td {
    padding: 0 10px;
}
.about-content a {
    text-decoration: none;
    color: #e14443;
    margin-left: 20px;
    font-size: 0.8rem;
}

/* CSS
------------------------------- */
.square {
    width: 300px;
    height: 300px;
}
.square div {
    position:absolute;
}
.sns-button {
    width: 200px;
    height: 200px;
    margin: 50px 50px;
}
.sns-button-bg {
    width: 90%;
    height: 90%;
    margin: 5%;
    overflow: hidden;
}
.white {
    background:#ffffff;
}
.circle {
    border-radius: 50%;
}

/* facebook */
.fb_vertical {
    width: 28px;
    height: 117.5px;
    margin: 62.5px 77px;
}
.fb_c {
    width: 75px;
    height: 56px;
    margin: 35px 77px;
}
.fb_c-hide {
    width: 30px;
    height: 30px;
    margin: 58px 105px;
}
.fb_hide1 {
    width: 30px;
    height: 60px;
    margin: 35px 130px;
}
.fb_hide2 {
    width: 40px;
    height: 20px;
    margin: 73px 105px;
}
.fb_hide3 {
    width: 10px;
    height: 20px;
    margin: 58px 120px;
}
.fb_horizontal {
    width: 72px;
    margin: 90px 54px;
    border-top: 26px solid #fff;
    border-right: 4px solid #1877f2;
}
.fb_color {
    background: #1877f2;
}

/* twitter */
.tw_head {
    margin: 28.5% 51.5%;
}
.tw_stomach {
    margin: 7.7% 7%;
}
.tw_tail-hide {
    margin: 22.5% 1.5%;
}
.tw_upper-beak {
    margin: 14% 56%;
}
.tw_upper-beak-hide {
    margin: -15.5% 43%;
}
.tw_lower-beak {
    margin: -3.5% 37%;
}
.tw_lower-beak-hide {
    margin: -12% 47%;
}
.tw_wing1 {
    margin: 42% 29%;
}
.tw_wing1-hide {
    margin: 34% 17%;
}
.tw_wing2 {
    margin: 33.5% 25%;
}
.tw_wing2-hide {
    margin: 23% 19%;
}
.tw_wing3 {
    margin: 25%;
}
.tw_wing3-hide {
    margin: -25% 19%;
}
.tw_fill {
    margin: 35%;
}
.tw_hide {
    margin: 5% 0;
}
.tw_small{
    width: 24%;
    height: 24%;
}
.tw_midium {
    width: 48.5%;
    height: 48.5%;
}
.tw_large {
    width: 68%;
    height: 68%;
}
.tw_color {
    background: #55acee;
}

/* neumorphism */
.neumorphism-convex {
    background: #e0e5ec;
    box-shadow:
        -10px -10px 20px white,
        10px 10px 20px #a3b1c6;
    transition: all 50ms 0s ease;
}
.neumorphism-convex:hover {
    box-shadow:
        -15px -15px 20px white,
        15px 15px 20px #a3b1c6;
}
.neumorphism-convex:active {
    box-shadow:
        -5px -5px 10px white,
        5px 5px 10px #a3b1c6;
}
.neu-button {
    position: absolute;
    width: 50px;
    height: 50px;
}
.neu_color {
    background: #ececf0
}

/* ILLUSTRATION
------------------------------- */
#illustration .page-title {
    text-transform: none;
}
.illustration-content {
    text-align: center;
    margin-top: 10vh;
}
.illustration-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}
.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

/* フッター
------------------------------- */
footer {
    background: #674935;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* モバイル版
------------------------------- */
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }
}
